:root {
    --c1: #630100;
    --c2: #e7d4c3;
    --c3: #3b2108;
    --c4: #a30404;
    --c5: #ffffff;
}

@font-face {
    font-family: 'Font';
    src: url('./fonts/LeJardinRegular.eot') format('eot'),
        url('./fonts/LeJardinRegular.ttf') format('ttf'),
        url('./fonts/LeJardinRegular.woff2') format('woff2'),
        url('./fonts/LeJardinRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font2';
    src: url('./fonts/FoglihtenNo06_076.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.invite-main {
    background-color: var(--c1);
}

.invite-sectionvverh {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.invite-sectionvverh>p {
    margin: 0;
    display: flex;
    justify-content: center;
}

.invite-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: 'Font', Arial, sans-serif;
    font-size: 40px;
    padding: 20px 40px 50px 40px;
    background-color: var(--c5);
}

.invite-cards>img {
    width: 200px;
    height: auto;
    display: block;
}

.invite-pluse {
    font-family: 'Font', Arial, sans-serif;
    font-size: 60px;
    color: var(--c5);
}

.invite-gn {
    font-family: 'Font', Arial, sans-serif;
    font-size: 48px;
    color: var(--c5);
}

.invite-vverh {
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: var(--c5);
    gap: 10px;
}

.invite-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 3px solid var(--c2);
    width: 70px;
    height: 80px;
}

.invite-sectioninfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 50px;
    background-color: var(--c2);
    padding: 35px;
}

.invite-h1 {
    text-align: center;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    border-top: 6px solid var(--c5);
}

.invite-p {
    text-align: center;
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
}

.invite-GandN {
    width: 60%;
    border: 10px solid var(--c5);
}

.invite-qr {
    width: 40%;
    border-radius: 15px;
}

.invite-logo {
    width: 30px;
    border-radius: 15px;
}

.invite-palitra {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.invite-palitra1,
.invite-palitra2,
.invite-palitra3,
.invite-palitra4 {
    width: 150px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid var(--c1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.invite-palitra1 {
    background-color: var(--c1);
    color: var(--c5);
}

.invite-palitra2 {
    background-color: var(--c2);
    color: #000000;
}

.invite-palitra3 {
    background-color: var(--c3);
    color: var(--c5);
}

.invite-palitra4 {
    background-color: var(--c4);
    color: var(--c5);
}

.invite-a {
    text-align: center;
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30pt;
    color: var(--c5);
    padding: 10px 100px 10px 100px;
    background-color: var(--c1);
    border-radius: 10px;
    text-decoration: none;
}

.invite-a:hover {
    transform: scale(1.1);
    background-color: var(--c3);
}

.invite-datatime {
    border: 3px solid var(--c1);
    border-radius: 50px;
    padding: 10px;
    font-size: 25px;
}

.invite-timeing {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1vw;
    border-top: 3px solid var(--c1);
}

.invite-time {
    font-weight: 500;
    font-size: 35px;
    color: black;
    width: 30%;
}

.invite-description {
    font-size: 20px;
    text-align: end;
    font-weight: 500;
    color: var(--c3);
    width: 70%;
}

.invite-description>h2 {
    font-size: 35px;
    font-weight: 500;
    color: black;
}

.invite-description>h3 {
    font-size: 30px;
    font-weight: 300;
    color: black;
}

.invite-map {
    width: 100%;
}

.invite-tabs {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 45px;
}

.tab {
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    font-size: 30pt;
    cursor: pointer;
    color: #000000;
    border-radius: 8px;
    transition: all 0.2s;
}

.tab:hover {
    background: var(--c5);
    color: #000000;
}

.tab.active {
    background: var(--c1);
    color: var(--c5);
}

.invite-sectioninfo>input {
    text-align: center;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    border-radius: 10px;
}

.invite-check {
    gap: 10px;
    width: 100%;
    display: flex;
}

.invite-check>p {
    text-align: center;
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 35px;
    width: 65%;
    display: flex;
    justify-content: left;
}

.invite-check>div {
    width: 35%;
    display: flex;
    justify-content: end;
}

.invite-check>div>input {
    height: 35px;
    width: 35px;
    accent-color: var(--c1);
}

.invite-error {
    text-align: center;
    font-family: "Cormorant Infant", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30pt;
    color: var(--c5);
    background-color: red;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: 5px solid var(--c5);

}

.invite-music {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--c2);
    color: var(--c5);
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s ease;
}

.invite-music:hover {
    transform: scale(1.1);
    background-color: var(--c3);
}

.invite-txtmusic {
    text-align: center;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
    color: var(--c5);
}


/* 📱 МОБИЛКА */
@media (max-width: 768px) {

    .invite-palitra1,
    .invite-palitra2,
    .invite-palitra3,
    .invite-palitra4 {
        width: 80px;
        height: 80px;
    }
}

/* 📱 МАЛЕНЬКИЕ */
@media (max-width: 480px) {
    .invite-vverh {
        gap: 5px;
        font-size: 25px;
    }

    .invite-h1 {
        font-size: 25px;
    }

    .invite-txtmusic {
        font-size: 25px;
    }

    .invite-p {
        font-size: 20px;
    }

    .invite-GandN {
        width: 80%;
    }

    .invite-qr {
        width: 80%;
    }

    .invite-palitra1,
    .invite-palitra2,
    .invite-palitra3,
    .invite-palitra4 {
        width: 80px;
        height: 80px;
    }

    .invite-time {
        font-size: 17px;
    }
    .invite-description {
        font-size: 15px;
    }

    .invite-description>h2 {
        font-size: 20px;
    }

    .invite-description>h3 {
        font-size: 16px;
    }

    .invite-a {
        font-size: 17pt;
        padding: 10px 50px 10px 50px;
    }

    .invite-check>p {
        font-size: 20px;
    }

    .invite-check>div>input[type="radio"] {
        height: 25px;
        width: 25px;
        min-height: 25px;
        min-width: 25px;
    }

    .invite-check>div>input[type="checkbox"] {
        height: 25px;
        width: 25px;
        min-height: 25px;
        min-width: 25px;
    }

    .invite-sectioninfo>input {
        font-size: 30px;
    }

    .invite-error {
        font-size: 20px;
    }

    .invite-tabs > button {
    font-size: 25px;
    }

    .invite-logo {
        width: 20px;
    }
}